body {
    font-family: Arial, sans-serif;
    text-align: center;
    background: #f7f7f7;
}

#search {
    width: 250px;
    padding: 10px;
    font-size: 18px;
    margin: 20px 0;
    border: 2px solid #555;
    border-radius: 5px;
}

#pokemon-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

.card {
    width: 150px;
    background: white;
    border-radius: 10px;
    padding: 15px;
    border: 1px solid #ddd;
    box-shadow: 0px 2px 5px rgba(0,0,0,0.1);
}

.card img {
    width: 100%;
}
